<% provide(:title, 'About') %>
<h1> ABOUT </h1>
<div id="about" class="text-center">
  <h3> The App </h3>
  <p> Quotely is an entertaining app created by <a href="https://www.linkedin.com/profile/view?id=64306269&trk=spm_pic" target="_blank">Chris Markel</a>. The app was created as part of a class project for <a href="https://generalassemb.ly/education/web-development-immersive/atlanta" target="_blank">General Assembly's Web Development Immersive Program</a>.</p>
  </br>
  <h3> The APIs </h3>
  <div>
    <a href="https://www.twilio.com/" target="_blank"><img src="http://i.imgur.com/N5sYEK4.png?2"></a>
    </br>
    </br>
    <a href="http://iheartquotes.com/" target="_blank"><img src="http://i.imgur.com/6cQpGdu.png?2"></a>
  </div>
</div>

