<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<% provide(:title, 'About') %>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-sm-4">
      <p><img src="assets/Chris400.jpg" class="img-circle team"/></p>
      <p class="lead"><strong>Chris Markel</strong></p>
      <p>Chris is a one man show here at CalQuotes. Not only is he responsible for building the backend and keeping the frontend looking good, he also keeps the office tidy with his broom skills...</p>
      <p>Chris brings his enthusiasm and rich experience to the CalQuotes team. His prior experience working in corporate development at The Home Depot and investment banking at SunTrust will serve him well as he takes CalQuotes to the next level.</p>
      <a href="www.linkedin.com/pub/chris-markel/19/652/339/" target="_blank"><i class="fa fa-linkedin-square fa-3x add-margin-right"></i></a>
      <a href="https://github.com/cmarkel5/CalQuotes" target="_blank"><i class="fa fa-github-square fa-3x"></i></a>
      </br>
      </br>
      </br>
    </div>
    <div class="col-sm-4">
      <p><img src="assets/CalvinAndHobbes_walking.jpg" class="img-circle team"/></p>
      <p class="lead"><strong>The App</strong></p>
      <p>Perfect for the Calvin and Hobbes enthusiast - CalQuotes is a web application that sends its subscribers a Calvin and Hobbes quote daily via text message. On this site, a user may look through as many Calvin and Hobbes quotes as they wish while saving their favorites to their profile page.</p>
      <p>CalQuotes was developed for a project for the Fall 2014 Web Development Immersive course at General Assembly. It was developed over a week-long sprint to model the agile software development process. The GitHub for CalQuotes is available here.</p>
      </br>
    </div>
    <div class="col-sm-4 add-margin-top">
      <p><img src="assets/Twilio_logo.png" class="team"/></p>
      <p><img src="assets/IHeartQuotes_logo.png" class="team"/></p>
      <p class="lead add-margin-top-APIs"><strong>The APIs</strong></p>
      <p>The app leverages the Twilio API to handle text messaging features as A Calvin and Hobbes quote is sent daily to each subscriber.</p>
      <p>The IHeartQuotes API is the source for the awesome Calvin and Hobbes quotes.</p>
      </br>
    </div>
  </div>
</div>
<!-- <div id="about" class="text-center">
  <h3> The App </h3>
  <p> Quotely is an entertaining app created by <a href="https://www.linkedin.com/profile/view?id=64306269&trk=spm_pic" target="_blank">Chris Markel</a>. The app was created as part of a class project for <a href="https://generalassemb.ly/education/web-development-immersive/atlanta" target="_blank">General Assembly's Web Development Immersive Program</a>.</p>
  </br>
  <h3> The APIs </h3>
  <div>
    <a href="https://www.twilio.com/" target="_blank"><img src="http://i.imgur.com/N5sYEK4.png?2"></a>
    </br>
    </br>
    <a href="http://iheartquotes.com/" target="_blank"><img src="http://i.imgur.com/6cQpGdu.png?2"></a>
  </div>
</div> -->

