<img src="http://i.imgur.com/kjVTerC.jpg" id="bg_welcome" alt="welcome background">

<% provide(:title, 'Welcome') %>

<div class="jumbotron-welcome">
  <h1> Welcome to quote.ly </h1>
  <p> Receive interesting quotes | save your favorites! </p>
  <div class = "form-button">
    <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
  </div>
  </br>
  <div class = "form-button">
    <%= link_to "Checkout today's quotes", '/one', class: "btn btn-large btn-success" %>
  </div>
</div>
