<img src="assets/CalvinAndHobbes_welcome.jpg" id="background" alt="Calvin and Hobbes background">

<% provide(:title, 'Welcome') %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-6">
      <div class="well-welcome text-center">
        <h3> Welcome to CalQuotes </h3>
        <p>Get quotes from Calvin and Hobbes!</p>
        <%= link_to "Sign up", signup_path, class: "btn btn-sm btn-warning add-margin-right size-adjustment" %>
        <%= link_to "Get a quote", random_path, class: "btn btn-sm btn-warning add-margin-left" %>
      </div>
    </div>
  </div>
</div>