<% provide(:title, 'Welcome') %>

<h1> Welcome to quote.ly </h1>

<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
<%= link_to "Sign in", '#', class: "btn btn-large btn-primary" %>
</br>
</br>
<%= link_to "Checkout today's quotes", '#', class: "btn btn-large btn-primary" %>
