<img src="http://i.imgur.com/kjVTerC.jpg" id="bg_welcome" alt="welcome background">

<% provide(:title, 'Welcome') %>

<div class="jumbotron-welcome">
  <h1> Welcome to quotely </h1>
  <p> Check out quotes from the classics | save your favorites! </p>
  </br>
  <div class = "form-button">
    <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
  </div>
  </br>
  <div class = "form-button">
    <%= link_to "Get a quote", '/random', class: "btn btn-large btn-success" %>
  </div>
</div>
