<% provide(:title, @user.name) %>
<h1>My Favs</h1>
<h2>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h2>


<% @user.quotes.each do |quote| %>
<%= quote.source.upcase %>
<%= quote.content %>
</br>
</br>
<% end %>
