@import "_config";

body {
  margin-top: 75px;
  background-color: $lightBlue;
}

#background {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  opacity: 0.8;
  z-index: -1;
}

.well {
  background-color: $beige;
  padding-top: 2px;
  padding-bottom: 2px;
}

.well-welcome {
  background-color: $beige;
  padding: 2px 0 8px 0;
  h3 {
    margin-top: 0;
  }
}

.form-input {
  width: 100%;
  border: none;
  margin-bottom: 10px;
}

img.team {
  width: 50%;
  border: 2px $hobbes-orange solid;
}

.gravatar {
  border: 2px $hobbes-orange solid;
}

img.quotes-pic {
  width: 75%;
  border: 2px $hobbes-orange solid; 
}

.add-margin-top {
  margin-top: 23px;
}

.add-margin-top-APIs {
  margin-top: 33px;
}

.add-margin-right {
  margin-right: 8px;
}

.add-margin-left {
  margin-left: 8px;
}

.size-adjustment {
  width: 97px;
  height: 29px;
}