@import "bootstrap";
@import "_config";

.well {
  opacity: .85;
  margin-top: 20px;
  border-radius: 50px 50px 50px 50px;
}

.btn-hobbes {
  width: 100px;
  opacity: .75;
  background-color: $hobbes-orange;
  color: black;
  font-weight: bold;
}

.navbar {
  font-size: 16px;
  background-color: $hobbes-orange; 
  background-image: none;
  background-repeat: no-repeat;
  opacity: .8;
  border-radius: 0px;
}

.navbar-brand {
  font-size: 30px;
  color: black !important;
}

#about {
  margin: 3.5em auto;
  background-color: rgb(248,248,255); /* Occupy Lilac */
  padding: 1em;
  p {
    font-size: 1.2em;
    color: black;
  }
}

#favs {
  margin: .8em auto;
  background-color: rgb(248,248,255); /* Occupy Lilac */
  padding: 1em;
  p {
    font-size: 1em;
    color: black;
  }
}

#background_welcome {
  position: absolute; 
  top: -50px; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
  z-index: -1;
}

#test {
  font-size: 1.5em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $lightishGray;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $lightishGray;
}

p {
  font-size: 1.1em;
  line-height: 1em;
}
