@import "bootstrap";

.jumbotron-welcome {
  width: 50%;
  margin: 10em auto;
  background-color: transparent;
  padding-top: 0px;
  h1 {
    font-size: 3em;
    color: white;
  }
  p {
    font-size: 1.2em;
    color: black;
    text-align: center;
  }
  .form-button {
    @extend .text-center;
  }
}

.jumbotron-about {
  width: 50%;
  margin: 3.5em auto;
  background-color: rgb(248,248,255);
  padding: 1em;
  h3 {
    text-align: center;
  }
  p {
    font-size: 1.2em;
    color: black;
    text-align: center;
  }
}

.jumbotron-my_favs {
  width: 70%;
  margin: .8em auto;
  background-color: rgb(248,248,255);
  padding: 1em;
  h3 {
    text-align: center;
  }
  p {
    font-size: 1em;
    color: black;
    text-align: center;
  }
}

.jumbotron-quotes {
  width: 70%;
  margin: 0.5em auto;
  background-color: rgb(248,248,255);
  padding: 0.5em;
  p {
    font-size: 18em;
    color: black;
    text-align: center;
  }
}

#bg_welcome {
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
  z-index: -1;
}

#test {
  font-size: 1.5em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

