<footer class="footer">
  <small>
    Author: Chris Markel
  </small>
  <nav>
    <ul>
      <li><%= link_to "LNKD",   'https://www.linkedin.com/profile/view?id=64306269&trk=nav_responsive_tab_profile' %></li>
    </ul>
  </nav>
</footer>